
  <li ng-if="$ctrl.items.length == 0">
    <strong>Nothing found!</strong>
  </li>

  <li ng-if="$ctrl.items.length >= 1" class="list-group-item">
    <span class="badge">{{$ctrl.items.length}}</span>
    <strong>Items containing serach term: {{$ctrl.search}}</strong>
  </li>
  <br>

<ol>
  <li ng-repeat="item in $ctrl.items">
    <strong>{{item.name}}</strong>   ({{item.short_name}})
    <p>{{item.description}}</p>
    <button ng-click="$ctrl.onRemove({index: $index})">
      Don't want this one!
    </button>
    <br>
    <br>
    <br>
  </li>
</ol>
