

<div class = "container">
  <fieldset>
    <h3 class="text-center" style="color:green">Sign Up</h3>
    <form name='regForm' novalidate>

      <label for="firstname">First Name:</label>
      <input type="text" name="firstname" placeholder="First Name"
        ng-model="signUpCtrl.firstname"
        required>
        <span
          ng-if="regForm.firstname.$error.required && regForm.firstname.$touched">
          First name must be entered.
        </span>
        <br>

      <label for="lastname">Last Name:</label>
      <input type="text" name="lastname" placeholder="Last Name"
        ng-model="signUpCtrl.lastname"
        required>
        <span ng-if="regForm.lastname.$error.required && regForm.lastname.$touched">
          Last name must be entered.
        </span>
        <br>

      <label for="email">Email Addr:</label>
      <input type="email" name="email" placeholder="Email"
        ng-model="signUpCtrl.email"
        required>
        <span ng-if="(regForm.email.$invalid || regForm.email.$error.required)
                  && regForm.email.$touched">
          Email address format: user@hostname
        </span>
        <br>

      <label for="phone">Telephone:</label>
      <input type="text" name="phone" placeholder="Phone Number"
        ng-model="signUpCtrl.phone"
        pattern="(\d{3})-(\d{3})-(\d{4})"
        required>
        <span ng-if="(regForm.phone.$invalid || regForm.phone.$error.required)
                 && regForm.phone.$touched">
          Phone must be in the format ###-###-####.
        </span>
        <br>

      <label for="menucode">Fav Dish #:</label>
      <input type="text" name="menucode" placeholder="Favorite Dish"
        ng-model="signUpCtrl.menucode"
        required>
        <span class="signup-error" class="signup-input" ng-show="signUpCtrl.error">
          No such menu number exists
        </span>
      <br>


        <button class=sign-up-button
          ng-disabled="regForm.$invalid"
          ng-click="signUpCtrl.submit()">
          Submit
        </button>

        <div style="margin-top: 8px">
            <h5 style="color:green">Form valid? {{ regForm.$valid }}</h5>
        </div>
        <br>
        <div class="error" class="signup-input" ng-show="signUpCtrl.saved">
          <strong><p style="color:green">Your information has been saved</p></strong>
        </div>


    </form>
  </fieldset>
<div>
